<div class="container">
    <div class="tabable" style="margin-top:10px;">
        <ul class="nav nav-tabs">
            <li ui-sref-active="active">
                <a ui-sref="list.new">Create</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="list.unsold">Unsold</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="list.saved">Saved</a>
            </li>
        </ul>
        <div ui-view class="tabpage col-xs-12"></div>
    </div>
</div>